#statusName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--white));
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.25rem;
  background-image: radial-gradient(
    rgba(8, 8, 100, 0.8),
    rgba(8, 50, 150, 0.5)
  );
}

#playerHudContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 50%;
  width: min(100%, 40rem);
}

#topHudContainer {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

#playerStatusContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.25rem;
  width: 50%;
}

.selectedSquare {
  background-color: rgba(var(--white), 0.5);
}

.missedSquare {
  background-color: rgba(var(--white), 0.75);
  border-radius: 50%;
}

.hitIndicator {
  display: flex;
  width: 100%;
  aspect-ratio: 1;
  z-index: 50;
}

.hitSquare {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 50;
}

#statusFire {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding: 0 0.25rem;

  font-size: 1.25rem;
  text-align: center;
}

#statusFireSquare,
#statusFireButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid rgb(var(--black)) 2px;
  border-radius: 1rem;

  height: 4rem;
  width: 5rem;

  color: rgb(var(--white));
  font-weight: bold;
}

#statusFireSquare {
  font-size: 2rem;
  background-image: linear-gradient(
    0deg,
    rgba(8, 8, 100, 0.8),
    rgba(8, 50, 150, 0.5)
  );
}

#statusFireButton {
  font-size: 1.5rem;
  background-color: darkred;
}

#resultMessage {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}

#endTurnButton {
  border: solid rgb(var(--black)) 2px;
  border-radius: 1rem;
  background-color: lightgreen;

  font-size: 1.5rem;
  font-weight: bold;

  height: 3rem;
  width: 10rem;
}
