#shipPlacementContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#placeShipText {
  text-align: center;
}

.shipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.ship {
  position: absolute;
  background-color: grey;
  border-radius: 1rem;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

#Carrier {
  height: 32px;
  width: 160px;
}
#Battleship {
}
#Destroyer {
}
#Submarine {
}
#Patrol {
}
