:root {
  --white: 245, 245, 245;
  --black: 45, 45, 45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(var(--black));
  background-color: transparent;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainContainer {
  max-height: 100dvh;
  max-width: 100dvw;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--white));
}
