* {
  margin: 0;
  box-sizing: border-box;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainContainer {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

#topBarContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 4px 32px;
}

#topBarGameTitle {
  font-size: .8rem;
}

.topBarItem {
  width: 33%;
  display: flex;
  justify-content: center;
}

#lowBarContainer {
  max-height: 10vh;
}
