:root {
  --white: 245, 245, 245;
  --black: 45, 45, 45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(var(--black));
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/src/fonts/ubuntu/ubuntu-v20-latin-300.woff2), format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/src/fonts/ubuntu/ubuntu-v20-latin-700.woff2), format("woff2");
  font-weight: bold;
  font-style: normal;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  overscroll-behavior: none
}

#mainContainer {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(var(--white));
}
